<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/headerFile"></head>

<body>
<div id="layout">
    <div th:replace="menu/menu"></div>

    <div id="main">
        <div class="header">
            <span sec:authorize="isAuthenticated()">
            <h1>Witaj, <span sec:authentication="name"></span>!</h1>
                </span>
            <h2>Panel pracownika</h2>
        </div>

        <div class="content">
            <h2 class="content-subhead">Opis firmy</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur            </p>

            <h2 class="content-subhead">Zakres usług</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>


        </div>
    </div>
</div>




<script src="/static/css/js/ui.js"></script>

</body>
</html>
